/* --- reproductor flutuante */
#repro {
    background:#ff000d ;
    font-family: "times new roman",arial;
    color: white;
    text-decoration: none;
    padding: 1px;
    border-radius: 9px;
    position: fixed;
    right: 1em;
    top: 1em;
    width: 20%;
    height: 6%;   
}
#repro1 {
    background: #ff000d;
    font-family: "times new roman",arial;
    color: white;
    text-decoration: none;
    padding: 1px;
    border-radius: 9px;
    position: fixed;
    right: 1em;
    top: 1em;
    width: 20%;
    height: 6%;   
}
#repro2 {
    background:#ff000d;
    font-family: "times new roman",arial;
    color: white;
    text-decoration: none;
    padding: 1px;
    border-radius: 9px;
    position: fixed;
    right: 1em;
    top: 1em;
    width: 20%;
    height: 6%;   
}

header {
	width: 100%;
}
 
header nav {
	background: none;
	z-index:1000;
	max-width: 1000px;
	width:95%;
	margin:20px auto;
}
header nav ul a {
	list-style:none;
}
 
header nav ul li {
	display:inline-block;
	position: relative;
}
#aba0 {
    background-color:whitesmoke;
    text-align: center;
}
#aba1 {
    background-color:#B0FFC2;
    text-align: center;
}
#aba2 {
    background-color:#FFFFD6;
    text-align: center;
}
#aba3 {
    background-color:#333;
    text-align: center;
}
#top {
    text-align: center;
}

h1 {
    text-align: center;
    color:#333;
    font-family: 'Chilanka', cursive;
}
/* style balseros */
#bal {
    text-align: center;
    color:whitesmoke;
    font-family: 'Chilanka', cursive;
}

.menu {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;  
}

.menu li{
    display: inline-flex;
    margin: 30px;
    right: 1em; 
}

.menu_bar {
    display: none;
}

.normal{
    display: block;
    border-bottom: 1px;
    color: white;
}

.menu .normal a {
    text-decoration: none;
    color: white;
    background: #ff0000;
    padding: 5px;
    border-radius: 2px;
    font-family:'Chilanka', cursive;
}
#topo {
    float: center;
}
#topo li a {
    text-align: center;
    text-decoration: none;
    color: white;
    background: #ff0000;
    padding: 5px;
    border-radius: 2px;
    font-family:'Chilanka', cursive;   
}

#topo li{
    list-style: none;
    /* text-align: center; */

}

#top nav .menu .normal a{
    text-align: center;

}

/* hover - mouse em cima do elemento */
#top a:hover {
    box-shadow: whitesmoke 2px 1px 2px;
    background: #333;
}

#topo a:hover {
    box-shadow: whitesmoke 2px 1px 2px;
    background: #333;
}

/* active - elemento esta sendo clicado */
#top a:active {
    box-shadow: inset wheat 2px 1px 2px;
    background:blue;
}

#topo a:active {
    box-shadow: inset wheat 2px 1px 2px;
    background:blue;
}

h2 {
    text-align: center;
    color: #333;
    font-family: 'Chilanka', cursive;
}
h3 {
    text-align: center;
    color: #333;
    font-family: 'Chilanka', cursive;
}
p {
    text-align: justify;
    text-indent:30px;
    color:#333;
    margin-left:20px;
    margin-right:20px;
    font-family:'Chilanka', cursive;
}
#balse {
    text-align: justify;
    text-indent:30px;
    color: whitesmoke;
    margin-left:20px;
    margin-right:20px;
    font-family:'Chilanka', cursive;
}
#novo {
    text-align: center;
    color: whitesmoke;
    margin-left:20px;
    margin-right:20px;
    font-family:'Chilanka', cursive;
}
#slide0 {
    display: flex;
}
#slide0 #carouselExampleIndicators {
    width: 66%;
    border: solid;
    margin: auto;
    background: transparent;
}
#slide0 #carouselExampleIndicators img {
    max-width: 100%;
    margin: auto;
}
#slide1 {
    display: flex;
}
#slide1 #carouselExampleIndicators {
    width: 75%;
    border: solid;
    margin: auto;
    background: transparent;
}
#slide1 #carouselExampleIndicators img {
    max-width: 100%;
    margin: auto;
}
#slide2 {
    display: flex;
}
#slide2 #carouselExampleIndicators2 {
    width: 70%;
    border: solid;
    margin: auto;
    background: transparent;
}
#slide2 #carouselExampleIndicators2 img {
    max-width: 100%;
    margin: auto;
}
#slide3 {
    display: flex;
    
}
#slide3 #carouselExampleIndicators {
    width: 75%;
    border: solid;
    margin: auto;
    background: transparent;
}
#slide3 #carouselExampleIndicators img {
    max-width: 100%;
    margin: auto;
}
#slide4 {
    display: flex;
   }
#slide4 #carouselExampleIndicators1 {
    width: 70%;
    border: solid;
    margin: auto;
    background: transparent;
   }
#slide4 #carouselExampleIndicators1 img {
    max-width: 100%;
    margin: auto;
    /* border-radius: 30px; */

}
#slide5 {
    display: flex;
   }
#slide5 #carouselExampleIndicators2 {
    width: 70%;
    border: solid;
    margin: auto;
    background: transparent;
   }
#slide5 #carouselExampleIndicators2 img {
    max-width: 100%;
    margin: auto;
}
#slide6 {
    display: flex;
   }
#slide6 #carouselExampleIndicators1 {
    width: 60%;
    border: solid;
    margin: auto;
    background: transparent;
   }
#slide6 #carouselExampleIndicators1 img {
    max-width: 100%;
    margin: auto;
}
#img00 {
    float: center;
    border-radius: 30px;
    width: 65%;
    height: 65%;
}
#img0 {
    float: center;
    border-radius: 30px;
    width: 65%;
    height: 65%;
}
#img01 {
    float: center;
    border-radius: 30px;
    width: 80%;
    height: 80%;
}
#img1 {
    float: center;
    border-radius: 10px;
    width: 70%;
    height: 70%;
}
#img2 {
    float: center;
    border-radius: 30px;
    width: 80%;
    height: 80%;
}
#img3 {
    float: center;
    border-radius: 30px;
    width: 70%;
    height: 70%;
}

#video0{
    text-align: center;
    border-radius: 15px;
    width: 65%;
} 
#video{
    float: center;
    border-radius: 15px;
    width: 70%;
    height: 70;  
}
#video1{
    border-radius: 15px;
    text-align: center;
    width: 65%;
}


/* responsive */
@media screen and (max-width: 1060px) {
    #aba0 {
		padding-top: 80px;
    }
    #aba1 {
        padding-top: 80px;
    }
    #aba2 {
        padding-top: 80px;
    }
    #aba3 {
        padding-top: 80px;
    }
    #top img {
        float: none;
    }
    #top { 
      text-align: center;
    }
    
    .menu_bar {
        display: block;
        width: 100%;
        /* position: fixed; */
        top:0;
    }

    .menu_bar .bt-menu {
        padding: 20px;
        color: #333;
        overflow: hidden;
        font-size: 40px;
        font-weight: bold;
        text-decoration: none;
    }
    
    header nav {
		width: 75%;
		height: calc(100% - 80px);
		position: absolute;
		right:100%;
        margin: 0; 
        overflow: scroll; 
	}
 
	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
 
	header nav ul li a {
		display: block;
	}
  }


#linha {
    color: blue;
}
#contact1 {
    font-family: 'Chilanka', cursive;
    color: #fec106;
}
